<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Insert Tailwind CSS CDN here -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="{{root}}" >Home</a></li>
                    <li><a href="{{root}}/about">About</a></li>
                    <li><a href="{{root}}/services">Services</a></li>
                    <li><a href="{{root}}/products">Products</a></li>
                    <li><a href="{{root}}/contact">Contact</a></li>
                    <li><a href="{{root}}">Login</a></li>
                    <li><a href="{{root}}">Signup</a></li>
                </ul>
            </div>
            <a href="{{root}}" class="flex items-center py-4 px-2">
                <img src="/{{space}}/assets/img/logo-small.png" alt="Logo" class="h-8 w-8 mr-2">
                <span class="font-semibold text-gray-500 text-lg">Acme</span>
            </a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-2">
                <li><a href="{{root}}" class="text-lg py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Home</a></li>
                <li><a href="{{root}}/about" class="text-lg py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">About</a></li>
                <li><a href="{{root}}/services" class="text-lg py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Services</a></li>
                <li><a href="{{root}}/products" class="text-lg py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Products</a></li>
                <li><a href="{{root}}/contact" class="text-lg py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Contact</a></li>
            </ul>
        </div>
        <!-- Additional navbar items (right side) -->
        <div class="navbar-end hidden lg:flex">
            <a href="" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">Log In</a>
            <a href="" class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">Sign Up</a>
        </div>
        
    </div>

    <!-- Page Content -->
    <div>
        {{#block "main"}}                
        {{/block}}
    </div>

    <!-- Footer -->
    <footer class="bg-white">
        <div class="container mx-auto px-6 pt-10 pb-6">
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/4 text-center md:text-left">
                    <h5 class="uppercase mb-6 font-bold">Links</h5>
                    <ul class="mb-4">
                        <li><a href="{{root}}" class="hover:text-green-500">Home</a></li>
                        <li><a href="{{root}}/services" class="hover:text-green-500">Services</a></li>
                        <li><a href="{{root}}/products" class="hover:text-green-500">Products</a></li>
                        <li><a href="{{root}}/about" class="hover:text-green-500">About</a></li>
                        <li><a href="{{root}}/contact" class="hover:text-green-500">Contact Us</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 text-center md:text-left">
                    <h5 class="uppercase mb-6 font-bold">Company</h5>
                    <ul class="mb-4">
                        <li><a href="#" class="hover:text-green-500">The Company</a></li>
                        <li><a href="#" class="hover:text-green-500">Careers</a></li>
                        <li><a href="#" class="hover:text-green-500">Press</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 text-center md:text-left">
                    <h5 class="uppercase mb-6 font-bold">Resources</h5>
                    <ul class="mb-4">
                        <li><a href="#" class="hover:text-green-500">Blog</a></li>
                        <li><a href="#" class="hover:text-green-500">Help Center</a></li>
                        <li><a href="#" class="hover:text-green-500">Privacy Policy</a></li>
                        <li><a href="#" class="hover:text-green-500">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="w-full md:w-1/4 text-center md:text-left">
                    <h5 class="uppercase mb-6 font-bold">Contact</h5>
                    <ul class="mb-4">
                        <li><a href="#" class="hover:text-green-500">Contact Us</a></li>
                        <li><a href="#" class="hover:text-green-500">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Include DaisyUI Script if required -->
</body>
</html>
