{{#extend "layout"}}
{{#content "main"}}
<!-- Hero Section -->
<div class="bg-white text-center py-16">
    <h1 class="text-4xl font-bold text-gray-800">Reciept number: {{count}}</h1>
    <p class="text-md text-gray-600 mt-4">We're here to help and answer any question you might have</p>
</div>

<!-- Contact Section -->
<section class="container mx-auto px-6 py-10">
    Thank you for contacting us.
    This is the information that we got:
    <div class="overflow-x-auto">
        <table class="table">            
            <tbody>
                <!-- Note the dot notation for field names with a dash 'first-name' 'last-name' -->
                <tr>                    
                    <td>First name:</td>
                    <td>{{contactData.[first-name]}}</td>
                </tr>   
                <tr>                    
                    <td>Last name:</td>
                    <td>{{contactData.[last-name]}}</td>
                </tr>   
                <tr>                    
                    <td>Email:</td>
                    <td>{{contactData.email}}</td>
                </tr>   
                <tr>                    
                    <td>Message:</td>
                    <td>{{contactData.message}}</td>
                </tr>              
            </tbody>
        </table>
    </div>
</section>
{{/content}}
{{/extend}}